@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
:root {
  --blue: #1089ff;
}
body{
  overflow-x: hidden;
}
header {
  background-color: #fff;
}
.desktop,
#nav {
  display: none;
  position: sticky;
}
.contacts .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts .item i {
  width: 40px;
  height: 40px;
  background-color: var(--blue);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.contacts .item h4 {
  font: 400 1.2em "Oswald", sans-serif;
  color: #000;
}
.contacts .item p {
  font: 400 1em "Muli";
  color: #808080;
  margin: 0;
}
#slider {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../image/hero_1.jpg") center center/cover no-repeat;
  min-height: 700px;
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 60px;
}
#slider h1 {
  font: 300 1.5em "Oswald", sans-serif;
  color: #fff;
  margin-bottom: 8px;
}

#slider p {
  font: 300 1.1em "Muli";
  color: #fff;
  margin-bottom: 16px;
}
#slider .btn,
#about .btn {
  text-transform: uppercase;
  font-size: 300 0.8em "Oswald", sans-serif;
  letter-spacing: 0rem;
  padding: 16px 24px;
}
#about .about_us,
.sec-4 .destination p,
.form-head p,
.sec-6 p span,
.sec-7 p span {
  display: block;
  font: 300 1.1em "Dancing Script", sans-serif;
  text-transform: capitalize;
  padding-top: 20px;
}
#about {
  padding: 5em 0;
}
#about h3 {
  font: 400 1.7em "Oswald", sans-serif;
  padding: 0 0 20px;
  margin: 0 0 20px;
}
#about p {
  font: 1.1em "Muli";
  margin: 0 0 16px;
  color: #808080;
}
.sec-2 {
  padding: 48px 0;
}
.sec-2 .icon {
  margin-bottom: 29px;
}
.sec-2 h3 {
  font: 400 1.3em "Oswald", sans-serif;
  margin-bottom: 8px;
  color: #000;
}
.sec-2 p {
  font: 300 1.2em "Muli", sans-serif;
  color: #808080;
  margin-bottom: 1em;
}
.sec-3,
.sec-8 {
  background: linear-gradient(rgba(16, 136, 255, 0.7), rgba(16, 136, 255, 0.7)),
    url("../image/hero_1.jpg") center center/cover no-repeat fixed;
  color: white;
  text-align: center;
  padding: 70px 50px;
}
.sec-8 {
  background: linear-gradient(rgba(16, 136, 255, 0.7), rgba(16, 136, 255, 0.7)),
    url("../image/hero_2.jpg") center center/cover no-repeat fixed;
  padding: 100px 0;
}
.number h3 {
  font: 2em "Oswald", sans-serif;
}
.number span {
  font: 1.1em "Muli";
}
.sec-8 h3 {
  font: 400 2em "Oswald", sans-serif;
  margin-bottom: 8px;
}
.sec-8 p {
  font: 300 1.2em "Muli";
  margin-bottom: 1em;
}
.sec-8 a {
  font: 400 1em "Oswald", sans-serif;
  text-transform: uppercase;
  background-color: #ffa139;
  border-color: #ffa139;
  letter-spacing: 1.2px;
}
.sec-4 {
  padding: 80px 0;
  background: #f8f9fa;
}
.sec-4 .card {
  margin: 10px 0;
}
.sec-4 .destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}
.sec-4 .destination h3,
.form-head h3,
.sec-6 h3,
.sec-7 h3 {
  font: 400 1.8em "Oswald", sans-serif;
}
.sec-4 .destination hr,
.form-head hr,
.sec-6 hr,
.sec-7 hr {
  width: 50px;
  /* height: 2px;
  color: darkblue; */
  border: 2px solid darkblue;
  margin-bottom: 30px;
}
.sec-4 .card .card-title {
  display: flex;
  align-items: center;
}
.card-title {
  display: flex;
  align-items: center;
}
.card-title i {
  color: var(--blue);
}
.card-title h3 {
  font: 400 1.1em "Oswald", sans-serif;
  padding: 0 0 0 5px;
  margin: 0;
}
.card-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-b i {
  color: #808080;
}
.card-b span {
  color: #808080;
  font: 300 1.1em "Muli";
}
.card-b button {
  padding: 5px 10px;
  border: transparent;
  color: white;
  font: 300 1.1em "Muli";
  border-radius: 4px;
}
.sec-5 {
  padding: 88px;
}
.sec-5 img {
  width: 100%;
}
.sec-5 .column1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec-5 input {
  width: 15em;
  /* margin-right: 20px; */
  padding: 6px 12px;
  margin: 0 0 1em 0;
  color: #495057;
  border: 1px solid #ced4da;
}
.sec-5 .width {
  display: inline-block;
  width: 100%;
}
textarea {
  width: 100%;
}
.sec-5 label,
textarea {
  font: 300 1.1em "Muli";
  margin-bottom: 0.5rem;
  color: #808080;
}
.sec-5 .select {
  /* width: 33em !important; */
  margin-bottom: 0.5rem;
  color: #495057;
  padding: 6px 12px;
  margin: 0 0 1em 0;
}
form .button {
  color: #fff;
  text-transform: uppercase;
  font: 300 0.9em "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}

.sec-6 {
  padding: 88px 0;
}
.sec-6 .social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 130px;
  left: 10px;
}
.sec-6 .social .icon {
  width: 40px;
  height: 40px;
  background: #fff;
  color: #1089ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-6 .name h3 {
  font: 400 1.8em "Oswald", sans-serif;
  margin: 1em 0 0.5em 0;
}
.sec-6 span {
  display: inline-block;
  font: 300 1.1em "Muli";
  margin-bottom: 10px;
}
.sec-7 .profile h3 {
  margin: 15px 0 4px 0;
  font: bold 1em "Muli";
  color: #000;
}
.sec-7 .profile p {
  font: 400 15px "Muli";
  font-family: "Muli";
  color: #808080;
}
.sec-7 .profile {
  display: flex;
  align-items: center;
}
.sec-7 .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.sec-7 .text {
  text-align: left;
  padding: 30px;
  margin-bottom: 1em;
}
.sec-7 i {
  font-size: 1.5em;
  color: #1089ff;
  right: 15px;
  bottom: 30px;
}
.sec-7 .text p {
  font: 300 1.1em "Muli-italic";
  padding: 0 20px 0 0;
  color: gray !important;
  line-height: 1.7;
}
footer {
  text-align: left;
  /* background: #888; */
  padding: 64px 0;
}
.footer_col ul {
  padding: 0;
}
.footer_col li,
.learn,
.copyright a {
  font: 300 1em "Muli";
  color: var(--blue);
  margin-bottom: 10px;
}
.footer_col h3 {
  font: 400 1em "Oswald";
  color: #000;
  border-bottom: 1.6px solid var(--blue);
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;
}
footer .text {
  font: 300 1em "Muli";
  color: #808080;
}
.copyright {
  text-align: center;
  margin-bottom: 1em;
  padding: 112px 0 0 0;
}

@media only screen and (min-width: 768px) {
  .desktop {
    align-items: center;
    justify-content: space-between;
  }
  .header_top {
    padding: 40px;
  }
  .contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contacts .item {
    display: flex;
    margin-left: 20px;
  }
  #nav {
    display: block;
    background: var(--blue);
    padding: 10px 0;
  }
  #nav menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #nav menu li a {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    margin: 20px;
    padding-bottom: 5px;
    font: bold 1em "Oswald";
  }
  #nav menu li .active,
  #nav menu li a:hover {
    border-bottom: 2px solid #fff;
  }
  #slider h1 {
    font: 300 3em "Oswald", sans-serif;
  }
  .number h3 {
    font-size: 3.1em;
  }
  .footer_col li a:hover,
  .learn a:hover,
  .copyright a:hover {
    border-bottom: 1px solid #1089ff;
  }
  .sec-8 a:hover {
    background-color: #ff8f5c;
  }
  .sec-5 input:focus,
  textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  .sec-6 .icons {
    overflow: hidden !important;
  }
  .sec-6 img {
    transition: 0.3s all ease;
  }
  .sec-6 .person_card:hover img {
    transform: scale(1.05);
  }
}
